/*******************************************
GENERAL STYLING
********************************************/


body {
	
	margin: 0 auto 0 auto;
	color: black;
	font-style: normal;
	font-family: Helvetica;
	font-size: 1em;
	background-color: white;
}




/*******************************************
HEADING
********************************************/


h1.heading {
	color: black;
	font-style: normal;
	font-family: frontage, Helvetica, sans-serif;
	font-weight: 400;
	letter-spacing: -.2em;
}

h1.heading {
	margin-left: 25px; 
	margin-top: 25px;
	font-size: 2.5em;
	font-family:Frontage;
	text-align: left;
	text-transform: uppercase;
}	
.partnerHeading {
	text-align: center;
	display: block;
	font-family: frontage, Helvetica, sans-serif;
	font-weight: boldest

}



/*******************************************
NAVIGATION
********************************************/




nav {
	width: 100%;

	
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

nav li {
	float: right;
	width: 15%;
}

nav li a {
	display: block;
	color: lightgreen;
	padding: 20px 20px;
	text-transform: uppercase;
	text-decoration: none;
}




/*******************************************
HOME PAGE STYLING
********************************************/



#headerNew {

	margin: 0 auto;
	
	width: 95%;

}

img {
	width: 100%;
	position: center;
	
}


.photo {
	margin-top: 50px;
	width: 50%;
	height: 280px;
}

main {
	width: 65%;
	float: left;
}

aside {
	width: 30%;
	float: right;
}

.image { 
   position: relative;
	width: 100%;  
}


.small-background { 

   position: absolute; 
   top: 500px;
   margin-left: 700px; 
   width: 30%; 
   border: solid;
   border-width: 2px;
   border-radius: 3px;
   background-color: orange;
   border-color: red;
   padding-left: 23px;
   font-style: italic;
   font-family: Helvetica, serif;
   color: red;


}
.arrow-img {
	width: 32px;
	height:20px;
	float: right;
	padding-bottom: 10px;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:link {
	color:#ff9912;
}

a:visited {
	color: darkgreen;
}
 a:hover, a:active, a:focus {
	color:lightgreen;
	text-decoration: none;
}

.welcome-paragraph {
	


	font-size: 1.25em;
	font-family:Helvetica;
	text-align: center;
	color: black;
	font-style: normal;
	font-family: Helvetica;
	font-weight: 380;
	margin-top:100px;
	float: right;
	width: 100%;
}



.search-box {
	width: 180px;
	height: 30px;
	border: solid;
	float: right;
	margin-top: 50px;
	border-radius: 3px;
	color: grey;
	padding-top: 10px;
	padding-left: 5px;
	font-size: 20px;
	background-color: lightgrey;
}



#right {
	width: 40%;
	float: right;
	margin-right: 5em;
	line-height: .5em;
}

#left {
	width: 40%;
	float: left;
	margin-left: 10em;
	line-height: .5em;
}

#contactus {
	display: block;
	margin: 20% 0 0 10em;
}

#image {
	width: 90%;
	position: center;
	margin-left: 5em;
}

h3.comeIn {
	font-family: frontage, Helvetica, sans-serif;
	letter-spacing: -.2em;
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;

}

/*
**********************************
FOOTER
***********************************/


footer {
	font-size: 1em;
	text-align: center;
	padding-top: 50px;
	color: #ccc;
	padding: 20px 10px;
	background-color: white;
	clear: left;
}

img.social-icon {
    max-width: 3%;
}

/*
******************************
ABOUT PAGE STYLING
*******************************
*/

section.border {
	border-color: orange;
	border-style: double;
	border-style: 5px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#partners {
	margin: 0;
	padding: 0;
	list-style: none;
}

#partners li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
	color: #bdc3c7;
} 

.partnerPics {
	width: 100%;
	height: 100%;
	margin: 0;
}

h4 {
	color: black;
	font-size: 1em;
	text-align: center;
}

/*partners section, into the list, into the anchor, into the paragraph - to edit the paragraphs under the photos*/
#partners li a p {
	margin: 0;
	padding: 5%;
	font-size: 1.2em;
	color: #bdc3c7;
	text-align: center;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto; 
  padding: 0 5%;
  /*background: green;*/
}

/*selecting anchors and removing underline*/
a {
  text-decoration: none;
}

/*this is important when we start resizing the list items which contain our images*/
img.fruit {
	max-width: 25%;
	height: auto;
	padding-right: 18%
}

.right {
  float: right;
}

p {
	text-align: center;
}

h3.about {
	font-family: frontage, Helvetica, sans-serif;
	text-align: center;
	
}

p.about {
	text-align: center;
	
}


/*******************************
PRODUCT PAGE STYLE
*******************************/


div #background {
	width: 100%;
	
}

section.header {
	width: 100%;
	background-color: white;
	border-color: orange;
	border-style: double;
	border-style: 5px;
	text-align: center;
	float:center;
}

h1.productTitle {
	font-size : 45px;
	text-align: center;
}


h2.productName {
	color: gray;
	position: left;
}


h3.productNickname { 
  color: orange;
  font-style: bold;
}


div .EM {
	overflow :auto;
	border-color: orange;
	border-style: solid;
	width: 300px;
	height: 300px;	
	text-align: left;
	margin: 1em;
	background-color: white;
	display: inline-block;
}

div .JL {
	overflow :auto;
	border-color: orange;
	border-style: solid;
	width: 300px;
	height: 300px;
	text-align: left;
	margin: 1em;
	display: inline-block;
	background-color: white;
}

div .JA {
	overflow :auto;
	border-color: orange;
	border-style: solid;
	width: 300px;
	height: 300px;
	text-align:left;
	margin: 1em;
	display: inline-block;
	background-color: white;
}

div .CP {
	overflow :auto;
	border-color: orange;
	border-style: solid;
	width: 300px;
	height: 300px;
	text-align: left;
	margin: 1em;
	display: inline-block;
	background-color: white;
}

div .LF {
	overflow :auto;
	border-color: orange;
	border-style: solid;
	width: 300px;
	height: 300px;
	text-align: left;
	margin: 1em;
	text-indent: 1em;
	display: inline-block;
	background-color: white;
}

div .AJ {
	overflow :auto;
	border-color: orange;;
	border-style: solid;
	width: 300px
	height: 300px;
	text-align: left;
	margin: 1em;
	display: inline-block;
	background-color: white;
}

div .KK {
	overflow :auto;
	border-color: orange;
	border-style: solid;
	width: 300px;
	height: 300px;
	text-align: left;
	margin: 1em;
	display: inline-block;
	background-color: white;
}

div .SJ {
	overflow :auto;
	border-color: orange;
	border-style: solid;
	width: 300px;
	height: 300px;
	text-align:left;
	margin: 1em;
	display: inline-block;
	background-color: white;
}


/*****************************
CONTACT US STYLE
*****************************/

h3.contact {
	text-align: center;
	font-weight: 700px;
}









































