body {
	
	margin: 0 auto 0 auto;
	color: black;
	font-style: normal;
	font-family: Helvetica;
	font-size: 1em;
	background-color: white;
}



h1 {
	color: black;
	font-style: normal;
	font-family: Helvetica;
	font-weight: 400;
}

h1 {
	margin-left: 25px; 
	margin-top: 25px;
	font-size: 2em;
	font-family:Helvetica;
	text-align: left;
	text-transform: uppercase;
}	

nav {
	width: 100%;

	
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

nav li {
	float: right;
	width: 15%;
}

nav li a {
	display: block;
	color: lightgreen;
	padding: 20px 20px;
	text-transform: uppercase;
	text-decoration: none;
}


#background {

	margin: 0 auto;
	
	width: 95%;

}

img {
	width: 100%;
	position: center;
	
}

.photo {
	margin-top: 50px;
	width: 50%;
	height: 280px;
}

main {
	width: 65%;
	float: left;
}

aside {
	width: 30%;
	float: right;
}

.image { 
   position: relative;
	width: 100%;  
}

.small-background { 

   position: absolute; 
   top: 500px;
   margin-left: 700px; 
   width: 30%; 
   border: solid;
   border-width: 2px;
   border-radius: 3px;
   background-color: orange;
   border-color: red;
   padding-left: 23px;
   font-style: italic;
   font-family: Helvetica, serif;
   color: red;


}
.arrow-img {
	width: 32px;
	height:20px;
	float: right;
	padding-bottom: 10px;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:link {
	color:#ff9912;
}

a:visited {
	color: darkgreen;
}
 a:hover, a:active, a:focus {
	color:lightgreen;
	text-decoration: underline;
}

.welcome-paragraph {
	

	font-size: 1.25em;
	font-family:Helvetica;
	text-align: center;
	color: black;
	font-style: normal;
	font-family: Helvetica;
	font-weight: 380;
	margin-top:100px;
	float: right;
	width: 100%;
}

.search-box {
	width: 180px;
	height: 30px;
	border: solid;
	float: right;
	margin-top: 100px;
	border-radius: 5px;
	color: grey;
	padding-top: 10px;
	padding-left: 5px;
	font-size: 20px;
	background-color: lightgrey;
}
